body{
	background-color: #BBCADB;
}

h3{
	text-align: center;
	margin-right: 10%;
}
.Table{
	background-color: ;
	border-collapse: collapse;
	max-height: 150px;
	max-width: 95%;
	overflow: auto;
	font-family: sans-serif;
	border-radius: 5px;
}

.Table td:hover{
	background: linear-gradient(rgba(0, 0, 0, 0.00), rgba(0,0,0,0.60));
}

.TableHeader{
	border-left: 1px solid;
	border-bottom: 1px solid;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 15px;
	padding-right: 15px;
}

.TableHeader td{
	#background: linear-gradient(rgba(0, 0, 0, 0.00), rgba(0,0,0,0.60));
}

.TableItem{
	height: 30px;
	text-align: center;
	vertical-align: middle;
	border-left: 1px solid;
}

.TableRow{
	border: 1px solid;
	border-left: 3px;
	font-size: 16px;
	font-weight: bolder;
}

.TableRow:nth-child(even){
	background-color: #d9d9d9;
}

.TableRow:nth-child(odd){
	background-color: #BAC3E8;
}

#movieName{
	font-weight: bold;
}

.addMovieDiv{
	display: contents;
	text-align: left;
	border: 1px solid;
}

.addMovieDiv input{
	#width: 70%;
}

.addMovieDivFirst{
	float:left;
	margin-left: 20%;
}

.addMovieDivSecond{
	float: right;
	margin-right: 40%;
}

#addMovieBtn{
	#width: 100%;
}

footer{
	margin-top: 100px;
}