html, body{
	width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
	background-image: url("background.jpg");
	background-color: #BBCADB;
	min-width: 1200px;
	font-family: Arial;
}

.navbar{
	display: inline-block;
	min-width: 100%;
	width: 100%;
	height: 80px;
	position: fixed;
	top: 0;
	z-index: 1030;
	background: linear-gradient(#BAC3E8, #5397EE);
	overflow: hidden;
	box-shadow: 0px 4px 10px #3B7DD5;
}

.navbarLink{
	background-color: Transparent;
	border: none;
	border-radius: 5px;
	float: left;
	display: block;
	text-align: center;
	padding: 20px;
	text-decoration: none;
	font-size: 30px;
	overflow: hidden;
	margin-bottom: 0;
	height: 100%;
}

.navbarLink:hover{
	box-shadow: 10px 10px 50px black);
	background: linear-gradient(rgba(0, 0, 0, 0.00), rgba(0,0,0,0.60));
}

.logoutBtn{
	cursor:pointer;
	color: #551A8B;
}

h3{
	text-align: center;
	margin-right: 10%;
}

.content{
	padding-top: 100px;
	width: 100%;
    max-width: 100%;
    text-align: center;
    padding-bottom: 70px;
    align-self: center;
    justify-content: center;
}

@keyframes pop 
{
  from 
  {
    transform: scale(1);
  }
  	50% 
  {
    transform: scale(1.0015);
  }
  to 
  {
    transform: scale(1);
  }
}

.Table{
	animation: pop 3s infinite;
	border: 2px solid #3B7DD5; /* Yellow border */
  	box-shadow: 1px 1px 5px #3B7DD5;
	border-collapse: collapse;
	width: 100%;
	overflow: auto;
	font-family: sans-serif;
}

.Table td:hover{
	background: linear-gradient(rgba(0, 0, 0, 0.00), rgba(0,0,0,0.60));
}

.TableHeader{
	border-left: 1px solid;
	border-bottom: 1px solid;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 15px;
	padding-right: 15px;
}

.TableHeader td{
	background: linear-gradient(rgba(0, 0, 0, 0.00), rgba(0,0,0,0.60));
}

.TableItem{
	padding: 5px;
	height: 30px;
	text-align: center;
	vertical-align: middle;
	border-left: 1px solid;
}

.TableRow{
	border: 1px solid;
	font-size: 16px;
	font-weight: bolder;
}

.TableRow:nth-child(even){
	background-color: #d9d9d9;
}

.TableRow:nth-child(odd){
	background-color: #BAC3E8;
}

.TableRow:nth-child(even) > .deleteBtn input[type='submit']{
	background-color: #d9d9d9;
	border:1px;
	font-weight: bolder;
	font-family: sans-serif;
}

.TableRow:nth-child(odd) > .deleteBtn  input[type='submit']{
	background-color: #BAC3E8;
	border:1px;
	font-weight: bolder;
}

.deleteBtn form{
	height: 100%;
	width: 100%;
}

.deleteBtn input[type='submit']{
	height: 100%;
	width: 100%;
	padding: 5px;
	font-weight: bold;
}

.deleteBtn input:hover{
	background: linear-gradient(rgba(0, 0, 0, 0.00), rgba(0,0,0,0.60));
}

.addMovieDiv{
	width: 100%;
	display: inline-block;
	min-width: 800px;
	min-width: 1600px;
}

.addMovieDiv input{
	height: 20px;
	width: 60%;
	float:right;
	margin-right: 20%;
}

.addMovieDiv label{
	font-size: 20px;
	width: 100px;
	font-family: cursive;
}

.addMovieDiv select{
	width: 61%;
	height: 25px;
	background-color: #d9d9d9;
	text-align: center;
	float:right;
	margin-right: 20%;
}

.addMovieDivFirst{
	width:50%;
	float:left;
	min-width: 800px;
	height:100%;
}

.addMovieDivSecond{
	width:50%;
	float:right;
	min-width: 800px;
	height:100%;
}

footer{
	bottom: 0;
    min-width: 100%;
    width: 100%;
    height: 45px;
    position: fixed;
    background: linear-gradient(#5397EE, #BAC3E8);
    overflow: hidden;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 1px -1px 5px #3B7DD5;
}

.footerLink {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 40px;
}

.gridContainer{
	display: inline-grid;
	grid-template-columns: auto auto auto;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	padding-bottom: 150px;
}

.gridItem{
	background: #BAC3E8;
	margin: 35px;
	height: 100%;

	border: 1px solid;
	height: 281px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-top: 10px;
    background-color: #BAC3E8;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #3b7dd5;
}

.gridItemContent{

}

#loginDiv {
	padding-right: 50px;
	height:100%;
	float: right;
}

#loginForm {
	margin-top: 1%;
	display: inline-block;
	float: right;
	margin-right: 60px;
}

#loginForm label {
    font-weight: bold;
    margin-right: 10px;
    padding-top: 5px;
}

#loginForm input[type='text'], #loginForm input[type='password'] {
    width: 150px;
    padding: 4px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 5px;
}

#loginForm input[type='password']{
	margin-left: 8px;
}

#loginForm input[type='submit'] {
    margin-left: 10px;
    background-color: #2196F3;
    color: #000;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    border: 1px solid;
    cursor: pointer;
}

#LoginLogoutDiv{
	margin: 0%;
	padding: 0px;
	display: inline;
	height: 100px;
	width: 100px;
	min-height: 100%;
	background-color: #bbcadb;
}

#logoutBtn{
	float:right;
}

#filterDiv{
	margin-bottom: 20px;
	margin-left: 30%;
	min-width: 30%;
	text-align: right;
	padding-left: 3%;
	float: left;
	width: auto;
	padding-bottom: 10px;
	background-color: #BAC3E8;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #3B7DD5;
}

#filterDiv form{
	padding: 3px;
}

#filterDiv label{
	font-weight: bold;
	float: left;
}

.filterSubmit{
	margin-left: 10px;
	background-color: #9CC5E0;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #3B7DD5;
	padding: 5px 12px;
	font-weight: bold;
}

.filterSubmit:hover{
	background: linear-gradient(rgba(0, 0, 0, 0.00), rgba(0,0,0,0.60));
}

.filterLabel{
	border-width: 1px #3B7DD5;
	border-radius: 5px;
	min-width: 200px;
	padding: 0px;
}

.jesusChrist{
	width: 192px;
	height: 20px;
	font-size: 18px;
	border-width: 1px #3B7DD5;
	border-radius: 5px;
}

#tableContainer{
	align-self: center;
	justify-content: center;
	width:90%;
	margin: auto;
}

.login-form {
	width: 300px;
	padding: 20px;
	background-color: #f5f5f5;
	margin: 0 auto;
	border: 1px solid #e3e3e3;
}

.login-form label {
	display: block;
	margin-bottom: 10px;
}

.login-form input[type="text"], .login-form input[type="password"] {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

.login-form input[type="submit"] {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	margin-top: 10px;
}

.movieDisplayDiv{
	height: 40%;
	width: 100%;
}

.movieCoverHolder{
	text-align: left;
	margin-left: 10%;
	padding-left: 5%;
	border: 1px solid;
	height: 281px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-top: 10px;
    background-color: #BAC3E8;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #3b7dd5;
}
.movieCoverHolder img{
	float: left;
	margin-right: 4%;
	box-shadow: 2px -2px 5px #3b7dd5;
	border-radius: 10px;
	border: 2px outset #3b7dd5;
}

.movieTitleHolder{
	display: inline;
	vertical-align: top;
	padding-top: 20px;
	font-size: 16px;
	line-height: 28px;
}

.movieTitleHolder p{
	width: 100%;
	margin-right: 400px;
}

.moviePageWrapper{
	display: grid;
	grid-template-rows: repeat(3, auto);
	grid-template-columns: repeat(3, auto);
	grid-gap: 15px;
}