/*-----------------------------------------------------------------------------------*/
/*------------------------------VARIABLES--------------------------------------------*/
/*-----------------------------------------------------------------------------------*/

:root
{
	--color1: #111000;
	--color2: #3b7dd5;
	--color3: #551A8B;
	--color4: #5397EE;
	--color5: #BAC3E8;

	--navbar-height: 10vh;
	--navbar-font-size: 190%;
	--table-filter-Width: 100vh;
	--filter-font-size: 110%;
	--filter-box-height: 3vh;
	--movie-tabs-font-size: 180%;
	--navbar-hover-color: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0,0,0,0.8));
}

/*-----------------------------------------------------------------------------------*/
/*------------------------------KEYFRAMES--------------------------------------------*/
/*-----------------------------------------------------------------------------------*/

@keyframes pop 
{
  from 
  {
    transform: scale(1);
  }
  	50% 
  {
    transform: scale(1.0015);
  }
  to 
  {
    transform: scale(1);
  }
}

@keyframes tableFade
{
	from
	{
		opacity: 0;
	}
	to
	{
		opacity: 1;
	}
}

@keyframes expandHeader
{
	from
	{
		height: 70px;
	}
	to
	{
		height: 250px;
	}
}

@keyframes shake {
  0% { margin-left: 0rem; }
  25% { margin-left: 0.5rem; }
  75% { margin-left: -0.5rem; }
  100% { margin-left: 0rem; }
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes highlightFade {
  {animation: glowAnimation 4s ease-out;}
}

@keyframes glowAnimation {
  0%{
    text-shadow: 0px 0px 0px #FF0000;
  }
  50%{
    text-shadow: 1px 1px 5px #FF0000;
  }
  0%{
    text-shadow: 0px 0px 0px #FF0000;
  }
}

/*-----------------------------------------------------------------------------------*/
/*------------------------------GENERICS--FANCY-BUTTON-TEMPLATE----------------------*/
/*-----------------------------------------------------------------------------------*/
.Fancy-Btn{
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.8s ease;
	position: relative;

	padding: 0px 60px 0px 60px;
	text-align: center;
	float: left;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 2px solid;
	box-shadow: 2px 2px 5px #000;

	overflow: hidden;
	transition: all 500ms ease;
}

.Fancy-Btn::before,
.Fancy-Btn::after{
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
}

.Fancy-Btn h4{
	color: #111;
	user-select: disabled;
}

.Fancy-Btn:after{
	width: 300%;
	height: 300%;
	left: -300%;
	transform: rotate(30deg);
	background-color: var(--color3);
	transition: all 500ms ease;
}

.Fancy-Btn:hover h4{
	color: #fff;
	z-index: 10;
	font-weight: 600;
}

.Fancy-Btn:hover label{
	color:#fff;
	z-index:10;
	font-weight: 600;
}

.Fancy-Btn:hover::after{
	left: -100%;
}

.Fancy-Btn:hover{
	border: 2px solid #69158a;
	cursor: pointer;
}

/*-----------------------------------------------------------------------------------*/
/*------------------------------GENERICS-CONTENT-TEMPLATE-------------------------------*/
/*-----------------------------------------------------------------------------------*/

.content{
	padding-top: 100px;
	width: 100%;
    text-align: center;
    padding-bottom: 70px;
    align-self: center;
    justify-content: center;
}

/*-----------------------------------------------------------------------------------*/
/*------------------------------GENERICS-HTML-&-BODY---------------------------------*/
/*-----------------------------------------------------------------------------------*/

html, body{
	width: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
	background: linear-gradient(#5397EE 0%, #9CC5E0 6%, #BAC3E8 100%);
	background-repeat: no-repeat;
	min-width: 680px;
	width: 100%;
	font-family: Arial;
}

/*-----------------------------------------------------------------------------------*/
/*------------------------------GENERICS-HEADER--------------------------------------*/
/*-----------------------------------------------------------------------------------*/

.navbar{
	display: inline-block;
	width: 100%;
	height: var(--navbar-height);
	position: fixed;
	top: 0;
	z-index: 100;
	background: linear-gradient(#5397EE, #BAC3E8);
	overflow: hidden;
	box-shadow: 0px 3px 5px #69158a;
}

.navbarLink{
	background-color: Transparent;
	border: none;
	border-radius: 2px;
	float: left;
	display: block;
	text-align: center;
	padding: 15px;
	padding-top: 2.60vh;
	text-decoration: none;
	font-size: var(--navbar-font-size);
	overflow: hidden;
	margin-bottom: 0px;
	height: 100%;
	z-index: 99;
	min-height: 10vh;
	max-height: 10vh;
}

.navbarLink:first-child{
	height:100%;
	padding: 0px;
	padding-top: 0px;
}

.navbarLink:nth-child(2){
	height: auto;
	padding: 0px;
	padding-top: 0px;
}

.navbarLink:hover{
	background: var(--navbar-hover-color);
	color: black;
}

.navbarLink img{
	height: 100%;
	max-height:10vh;
}

#navbarBurger{
	height:100%;
	max-height:10vh;
}

#navbarBurger p{
	margin-top: 2px;
}

#navbarBurger img{
	height: 60%;
	width: 60%;
	margin-left: 7%;
	margin-top: -45%;
}

/*-----------------------------------------------------------------------------------*/
/*------------------------------GENERICS-LOGIN-FORM----------------------------------*/
/*-----------------------------------------------------------------------------------*/

#loginDiv {
	position: absolute;
	right: 0;
	z-index: 10000;
	width: 23%;
	height: 100%;
	/* float: right; */
	text-align: center;
	display: inline-block;
}

#loginDiv form {
	height:100%;
	width: 100%;
	display: inline-block;
	float: right;
	justify-content: center;
}

#loginDiv form {
	height: 100%;
	width: 100%;
	float: right;
}

#loginDiv .logoutBtn{
	background-color: none;
	align-items: center;
	justify-content: center;
}

.loginFormFirst label{
	float: left;
}


.loginFormFirst input{
	float: right;
}

.loginFormFirst{
	padding-top: 15px;
	height: 49%;
	padding-top: 10px;
	width: auto;
	max-width: 40vh;
	min-width: 30vh;
	margin-bottom: 15px;
	float: left;
}

.loginFormSecond label{
	float: left;
}

.loginFormSecond input{
	float: right;
}

.loginFormSecond{
	float: left;
	height: 40%;
	min-width: 30vh;
	width: auto;
	max-width: 40vh;
	min-width: 30vh;
	margin-top: -10px;
}

.loginBtn{
	width: 18%;
	height: 63%;
	margin-top: 15px;
	float: top;
	cursor: pointer;
}

#loginForm label {
    font-weight: bold;
    margin-right: 10px;
}

#loginForm input[type='text'], #loginForm input[type='password'] {
    width: 150px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#loginForm input[type='password']{
	margin-left: 8px;
}

.logoutBtn{
	float: right;
	cursor:pointer;
	color: #551A8B;
	width: 50%;
	height: var(--navbar-height);
}

/*-----------------------------------------------------------------------------------*/
/*------------------------------GENERICS--FOOTER-------------------------------------*/
/*-----------------------------------------------------------------------------------*/
footer{
	bottom: 0;
    min-width: 100%;
    width: 100%;
    height: 45px;
    position: fixed;
	background: linear-gradient(#BAC3E8, #5397EE);
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0px -3px 5px #69158a;
}

.footerLink {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 40px;
}

/*-----------------------------------------------------------------------------------*/
/*------------------------------MOVIE-TABLE-TABS-------------------------------------*/
/*-----------------------------------------------------------------------------------*/

#movieTableTabHolder{
	display: flex;
	width: 100%;
	text-align: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}

#movieTableTabDiv{
	display: inline-flex;
	justify-content: space-between;
	width: var(--table-filter-Width);
	margin: auto;
}

.tableTab{
	min-width: 250px;
	min-height: 50px;
	background-color: var(--color3);
	font-size: var(--movie-tabs-font-size);
	font-weight: bold;
	border-top: 2px solid;
	margin-bottom: -1px;
	border-bottom: 0px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.tableTab:hover{
  cursor: pointer;
  background: var(--navbar-hover-color);
}

.tableTab:first-child{
	border-right: 2px solid;
	border-top-left-radius: 5px;
	margin-left: 1px;
}

.tableTab:last-child{
}

/*-----------------------------------------------------------------------------------*/
/*------------------------------MOVIE-TABLE------------------------------------------*/
/*-----------------------------------------------------------------------------------*/

.movieTable{
	animation: tableFade 1s;
  /* box-shadow: 5px 5px 5px #69158a;*/
	width: 90%;
	max-width: 90%;
	overflow: auto;
	table-layout:fixed;
	font-family: sans-serif;
	display: table;
	table-layout: fixed;
}

.TableHeader td{
	padding-left: 5px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 10px;
	border-bottom: 2px solid black;
	border-top: 1px solid;

	padding-right: 40px;
	width: auto;
	min-width: 30px;
	min-height: 40px;
	font-weight: bolder;
	font-size: 16px;

	white-space: nowrap;
	overflow: hidden;

	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.tableHeader td:hover{
	background-color: var(--color2);
	cursor: pointer;
}

.TableHeader td:first-child{
	border-left: 1px solid;
	border-top-left-radius: 5px;
	width: 4%;
}

.TableHeader td:nth-child(3){
	width: 12%;
}

.TableHeader td:nth-child(4){
	width:10%;
}

.TableHeader td:nth-child(5){
	width:13%;
}

.TableHeader td:nth-child(6){
	width:7%;
}

.tableHeader td:last-child{
	border-right: 1px solid;
	border-top-right-radius: 5px;
	padding-bottom: 20px;
	padding-top: 20px;
	width:7%;
}

.tableCell{
	text-align: left;
	vertical-align: middle;
	padding: 10px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-top: 10px;

	border-left: 1px solid black;

	overflow: hidden;
	white-space: nowrap;
}

.tableRow{
	font-size: 20px;
	overflow-y: hidden;
	white-space: nowrap;
	margin: 20px;
}

.hidenTableRow{
	display: none;
}

.tableRow:nth-child(even){
	background-color: #5397EE;
}

.TableRow:nth-child(even) > .deleteBtn input[type='submit']{
	background-color: #d9d9d9;
	font-weight: bolder;
	font-family: sans-serif;
}

.TableRow:nth-child(odd) > .deleteBtn  input[type='submit']{
	background-color: #BAC3E8;
	font-weight: bolder;
}

.TableRow td:last-child
{
	border-right: 	1px solid;
}

.tableRow:hover
{
	background-color: #5397ee;
	color: #ff0000;
	font-weight: bold;
	border: 50px solid;
	-webkit-filter: brightness(70%);
	-webkit-transition: all 0.1s ease;
	-moz-transition: all;
	-o-transition: all 0.1s ease;
	-ms-transition: all 0.1s ease;
	transition: all 0.1s ease;
	font-weight: bolder;
	filter: brightness(150%);
}

.tableRow:nth-child(11n) td
{
	border-bottom: 2px solid black;
	padding-top: 15px;
	padding-bottom: 15px;
}

#changePageDiv
{
	width: 	80%;
	min-width: 	100vh;
	color: var(--color2);
}

#changePageDiv button
{
	max-width: 100px;
}


.changePage
{
	min-width: 400px;
	min-height: 50px;
	border-top: 2px solid;
	margin-bottom: 0px;
	border-bottom: -1px;
	margin-bottom: 60px;
}

#prevPageBtn
{
	float:left;
	border-radius: 10px;
	border-top: 0;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px; 
	margin-left: 0.05vh;
}

#nextPageBtn
{
	border-radius: 10px;
	border-top: 0;
	float:right;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	margin-right: -0.05vh;
	border-bottom: 	1px solid;
	box-shadow: -1px 0px -10px #000;
}

.changePage:hover 
{
	color: red;
	z-index: 10;
	font-weight: 600;
	cursor: pointer;
	border: 2px solid #69158a;
}

.changePage:hover::after{
	left: -100%;
}

/*-----------------------------------------------------------------------------------*/
/*------------------------------INSERT-MOVIE-SECTION---------------------------------*/
/*-----------------------------------------------------------------------------------*/

.addMovieDiv{
	width: var(--table-filter-Width);
	padding: 10px;
	padding-bottom: 0px;
	background-color: var(--color5);
	border-radius: 5px;
	box-shadow: 5px 5px 5px var(--color5);
	border: 2px solid;
	display: grid;
	grid-template-rows: repeat(2, auto);
	grid-template-columns: repeat(2, auto);
	grid-gap: 5px;
	text-align: center;
}

.addMovieDiv input{
	height: 20px;
	width: 100%;
	float:right;
	margin-right: 20%;
}

.addMovieDiv label{
	font-size: 20px;
	width: 100px;
	font-family: cursive;
}

.addMovieDiv select{
	width: 100%;
	height: 25px;
	background-color: #d9d9d9;
	text-align: center;
	float:right;
	margin-right: 20%;
}

.addMovieDivFirst{
	width: 45%;
	float: left;
	min-width: 250px;
	padding-left: 8%;
}

.addMovieDivSecond{
	width: 45%;
	float: right;
	min-width: 250px;
}

/*-----------------------------------------------------------------------------------*/
/*------------------------------ ----------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/

.indexDivHolder{
	display: inline-flex;
	text-align: center;
	justify-content: center;
	width: var(--table-filter-Width);
}

#filterDivHolder{
	padding-top: 	10vh;
	padding-bottom: 10vh;
}

#filterDiv{
	width: var(--table-filter-Width);
	padding: 10px;
	padding-bottom: 20px;
	background-color: var(--color5);
	border-radius: 5px;
	box-shadow: 5px 5px 5px var(--color5);
	border: 2px solid;
	display: grid;
	grid-template-rows: repeat(3, auto);
	grid-template-columns: repeat(2, auto);
	grid-gap: 0px;
	text-align: center;
	min-height: 25vh;
}

#filterDiv input,select{
	width: 55%;
	height: var(--filter-box-height);
}

.filterInputDiv{
	text-align: left;
	justify-content: center;
	width: 80%;
}

.filterInputDiv:nth-child(even){
  padding-right: 0px;
  float:right;
  text-align: right;
}

.filterInputDiv:nth-child(odd){
  padding-right: 0px;
  float:left;
  text-align: left;
}

.filterInputDivInput{
	float:right;
	min-width: 180px;
	text-align: center;
}

.filterInputDivLabel{
	font-size: var(--filter-font-size);
	text-align: left;
}

#filterLabels{
	height: 49%;
	width: 90%;
	display: inline;
	text-align: left;
}

#filterLabels label{
	font-size: var(--filter-font-size);
	min-width: 150px;
}

#filterinputs{
	height: 49%;
	width: 90%;
	display: inline-block;
}

#filterButtons{
	height: 100%;
	width: 100%;
	display: inline-block;
	grid-column: 1 / -1;
}

#filterButtons button{
	width: 40%;
}

#filterButtons button:first-child{
	width: 48.5%;
}

#filterApply{
	height: 90%;
	border-radius: 5px;
	float: left;
}

#filterReset{
	height: 90%;
	border-radius: 5px;
	float: right;
	max-width:46.5%;
}

.filterSubmit{
	padding: 10px 10px 0px 0px;
	background-color: #9CC5E0;
	border-radius: 5px;
	box-shadow: 1px 1px 5px var(--color5);
	font-weight: bold;
}

.filterSubmit:hover{
	background: linear-gradient(rgba(0, 0, 0, 0.00), rgba(0,0,0,0.60));
}

.filterLabel{
	border-width: 1px var(--color5);
	border-radius: 5px;
	min-width: 200px;
	background-color: #BBCADB;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
}

.filterLabelOption{
	color: black;
	font-weight: bold;
}

.filterLabel option:hover{
}

.jesusChrist{
	width: 192px;
	height: 20px;
	font-size: 18px;
	border-width: 1px var(--color5);
	border-radius: 10px;
}

#tableContainer{
	display: flex;
	margin: 0px;
	padding: 0px;
	justify-content: center;
	text-align: center;
}

.login-form {
	width: 300px;
	padding: 20px;
	background-color: #f5f5f5;
	margin: 0 auto;
	border: 1px solid #e3e3e3;
}

.login-form label {
	display: block;
	margin-bottom: 10px;
}

.login-form input[type="text"], .login-form input[type="password"] {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

.login-form input[type="submit"] {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	margin-top: 10px;
}

.movieDisplayDiv{
	height: 40%;
	width: 100%;
	margin-left: -4vh;
}

.movieCoverHolder{
	text-align: left;
	margin-left: 10%;
	padding-left: 5%;
	border: 2px solid;
	height: 281px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-top: 10px;
    background-color: #BAC3E8;
    border-radius: 5px;
	box-shadow: 3px 3px 5px #202020;
	overflow-y: auto;
	display:flex;
}
.movieCoverHolder img{
	margin-right: 4%;
	box-shadow: 3px 3px 10px #202020;
	border-radius: 10px;
	border: 2px outset #69158a;
}

.movieTitleHolder{
	font-family: Arial;
	display: inline;
	font-size: 16px;
	line-height: 22px;
}

.movieTitle{
	font-weight: bold;
}

.movieTitleHolder p{
	width: 100%;
}

.moviePageWrapper{
	display: grid;
	grid-template-rows: repeat(3, auto);
	grid-template-columns: repeat(3, auto);
	grid-gap: 15px;
}

.rulesDiv{
	display: flex;
	height: 100%;
	width: 100%;
	text-align: center;
	justify-content: center;
}
.rulesDisplay{
	width:50%;
	height: 40%;
	display: flex;
	overflow-x: scroll;
	background-color: #9CC5E0;
	scroll-snap-type: x mandatory;
	border-radius: 20px;
	box-shadow: 5px 5px 5px var(--color5);
	border: 2px solid;
	overflow-y: hidden;
}

.rulesDisplay::-webkit-scrollbar {
	background: transparent;
	display: none;
}

.rulesDisplay .item{
	padding-top: 50px;
	padding: 50px;
	width:100%;
	flex-shrink: 0;
	scroll-snap-align: center;
	text-align: center;
	box-shadow: -100px 0px 2000px var(--color5), 100px 0px 2000px var(--color5);
}

.itemText{
	padding-left: 80px;
	padding-right: 80px;	
}

.rulesDisplay .item:first-child > .prevRuleBtn, .rulesDisplay .item:last-child > .nextRuleBtn{
	display: none;
}


.prevRuleBtn{
	font-size: 80px;
	text-align: center;
	justify-content: center;
	height: 180%;
	width: 15%;
	float: left;
	background-color: white;
	opacity: 0.1;
	border: none;
	margin-top: -50px;
	margin-left: -40px;
}

.nextRuleBtn{
	font-size: 80px;
	text-align: center;
	justify-content: center;
	height: 160%;
	float:right;
	width: 15%;
	background-color: white;
	margin-top: -180px;
	margin-right: -40px;
	opacity: 0.1;
	border: none;
}

.nextArrow p{
	margin-left: -30px;
}

.prevArrow p{
	margin-top: -15px;

}

@keyframes pop2electricbogaloo{
	from
	{
		transform: scale(0.95);
	}
		50%
	{
		transform: scale(1);
	}
	to
	{
		transform: scale(0.95);
	}
}

.quoteDiv{
	animation: pop2electricbogaloo 3s infinite;
	float:right; 
	position: fixed; 
	font-size: 40px; 
	margin-left: 85%; 
	margin-top: 6%;
	z-index: 10000;
	pointer-events: none;
}

.quotequote{
	font-size: 30px; 
	font-weight: bold; 
	transform: rotate(20deg);
}

.quoteauthor{
	font-size: 20px; 
	margin-top: -0px;
	transform: rotate(20deg);
}

@keyframes fadeInBackground{
	to{
		background-color: var(--bg);
	}
}

@keyframes slideInContent{
	to{
		opacity: 1;
		transform: translate(0, 0);
	}
}

#gridBackgroundDiv{
	animation: tableFade 7s;
	font-size: 	60px;
	padding-top: 200px;
	width: 	100%;
	text-align: center;
	align-content: center;
	background: linear-gradient(#a9c4e3 0%, rgba(0,0,0,0.3) 2%, rgba(0,0,0,0.4) 4%, rgba(0,0,0,0.5) 7%, rgba(0,0,0,0.6) 9%, rgba(0, 0, 0, 0.8) 11%, rgba(0, 0, 0, 0.8) 12%);
	padding-bottom: 20px;
	margin-bottom: -20px;
}

#gridBackgroundDiv h1{
	
}

.genreSection{
	border-radius: 50%;
	display: grid;
	width: auto;
	grid-template-columns: 300px 300px 300px;
	grid-auto-rows: 300px;
	color: black;
	grid-column-gap: 60px;
	grid-row-gap: 40px;
	text-align: center;
	justify-content: center;
}


#genreDiv-action{
	background: url('../Shared/Backgrounds/action.jpg');
	background-size: cover;
    background-repeat: no-repeat;
    background-position: absolute;
}

#genreDiv-adventure{
	background: url('../Shared/Backgrounds/adventure.jpg');
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#genreDiv-animation{
	background: url('../Shared/Backgrounds/animation.jpg');
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#genreDiv-biography{
	background: url('../Shared/Backgrounds/biography.jpg');
	background-size: cover;
    background-repeat: repeat;
    background-position: center;
}

#genreDiv-comedy{
	background: url('../Shared/Backgrounds/comedy.jpg');
	background-size: cover;
    background-repeat: repeat;
    background-position: center;
}

#genreDiv-crime{
	background: url('../Shared/Backgrounds/crime.jpg');
	background-size: cover;
    background-repeat: repeat;
    background-position: center;
}

#genreDiv-drama{
	background: url('../Shared/Backgrounds/drama.jpg');
	background-size: cover;
    background-repeat: repeat;
    background-position: center;
}

#genreDiv-family{
	background: url('../Shared/Backgrounds/family.jpg');
	background-size: cover;
    background-repeat: repeat;
    background-position: center;
}

#genreDiv-fantasy{
	background: url('../Shared/Backgrounds/fantasy.jpg');
	background-size: cover;
    background-repeat: repeat;
    background-position: center;
}

#genreDiv-history{
	background: url('../Shared/Backgrounds/history.jpg');
	background-size: cover;
    background-repeat: repeat;
    background-position: center;
}

#genreDiv-horror{
	background: url('../Shared/Backgrounds/horror.jpg');
	background-size: cover;
    background-repeat: repeat;
    background-position: center;
}

#genreDiv-musical{
	background: url('../Shared/Backgrounds/musical.jpg');
	background-size: cover;
    background-repeat: repeat;
    background-position: center;
}

#genreDiv-mystery{
	background: url('../Shared/Backgrounds/mystery.jpg');
	background-size: cover;
    background-repeat: repeat;
    background-position: center;
}
#genreDiv-romance{
	background: url('../Shared/Backgrounds/romance.jpg');
	background-size: cover;
    background-repeat: repeat;
    background-position: center;
}
#genreDiv-sciencefiction{
	background: url('../Shared/Backgrounds/sciencefiction.jpg');
	background-size: cover;
    background-repeat: repeat;
    background-position: center;
}
#genreDiv-sport{
	background: url('../Shared/Backgrounds/sport.jpg');
	background-size: cover;
    background-repeat: repeat;
    background-position: center;
}
#genreDiv-superhero{
	background: url('../Shared/Backgrounds/superhero.jpg');
	background-size: cover;
    background-repeat: repeat;
    background-position: center;
}
#genreDiv-thriller{
	background: url('../Shared/Backgrounds/thriller.jpg');
	background-size: cover;
    background-repeat: repeat;
    background-position: center;
}
#genreDiv-war{
	background: url('../Shared/Backgrounds/war.jpg');
	background-size: cover;
    background-repeat: repeat;
    background-position: center;
}
#genreDiv-western{
	background: url('../Shared/Backgrounds/western.jpg');
	background-size: cover;
    background-repeat: repeat;
    background-position: center;
}
#genreDiv-wildcard{
	background: url('../Shared/Backgrounds/wildcard.jpg');
	background-size: cover;
    background-repeat: repeat;
    background-position: center;
}

.genreDiv{
	box-shadow:inset 0px 0px 50px 50px black;
	border-radius: 50%;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}
.genreDiv:hover{
	cursor: pointer;
	color: blue;
}
.genreDiv:visited{
	color:black;
}

.imageFilter{
	border-radius: 50%;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background: linear-gradient(0deg, #00000088 10%, #fffff444 90%);
}

.genreBubbleTextDiv{
	text-align: center;
	margin: 0;
	padding: 0;
}

.genreHeader{
	font-size: 45px;
	font-family: sans-serif;
	font-weight: bolder;
	margin:0;
	padding-top: 45%;
}

/*-------STATS PAGE STARTS HERE-------*/

#chatDiv{
	width: 100%;
	height: 50%;

	display: flex;
	align-items: center;
	text-align: center;
	flex-direction: column;
}

#chatDivResponse{
	min-width: 80%;
	height: 80%;
	background-color: white;
	border: 1px solid;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	box-shadow: 5px 5px 5px var(--color5);
	overflow-y: scroll;
	overflow-x: hidden;

	align-items: center;
	flex-direction: center;
	text-align: center;
}

#chatDivInput{
	min-width: 80%;
	height: 18%;
	background-color: rgb(208,208,208);
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border: 1px solid;
	border-top: 2px solid;
	box-shadow: 5px 5px 5px var(--color5);
}

#btnChatInput{
	float: left;
	margin-top: 20px;
	width: 100px;
	height: 50px;
	margin-left: 20px;
}

#chatInput{
	float: left;
	margin-top: 20px;
	width: 60%;
	margin-left: 50px;
	height: 50px;
	font-size: 30px;
}

.APIcallLoadingRow{
	min-width: 100%;
	background-color: red;
	height: 10vh;
}

/*-----------------------------------------------------------------------------------*/
/*------------------------------JUL SECTION------------------------------------------*/
/*-----------------------------------------------------------------------------------*/

.wheelHolder{
  display: grid;
  width: 50%;
  height: auto;
  float: left; 
  margin-left: 40px;
  justify-content: center;
  text-align: center;
  max-width: 40%;
}

.wheel500{
  border-radius: 50%;
  border-color: purple;
  background-color: red;
}

.JulInputDiv{
  background-color: #BAC3E8;
  height: auto;
  float: left;
  border: 3px solid;
  padding: 20px;
  border-radius: 20px;
  margin-left: 40px;
  min-width: 500px;
  max-width: 500px;
  box-shadow: 5px 5px 5px #69158a;
}

.addInputRowBtn{
	float: right;
	background-color: #bbcadb;
}

.JulApplyBtn{
	float: left;
	background-color: #bbcadb;
}

.inputField{
	width:500px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.inputBox{
	width: 80%;
	height: 40px;
	font-size: 20px;
	float: left;
	margin-top: 5px;
}

.deleteRowBtn{
	height: 40px;
	padding: 0px 20px 0px 20px;
	float: right;
	margin-top: 5px;
	overflow: hidden;
	transition: all 100ms ease;
}

.deleteRowBtn:hover{
	border: 2px solid #69158a;
}

.deleteRowBtn:hover::after{
	left: -100%;
}

.winnerMark{
	margin-top: -10px;
	margin-left: 19.65%;
	z-index: 800;
	position: absolute;
	border: 0px black solid;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 30px solid red;
}